html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    #root {
        width: 100%;
        min-height: 100%;
        padding-bottom: 60px;
        position: relative;
        .inlay-icon {
            position: absolute;
            font-size: 25px;
            padding: 1px 7px;
        }
    }
}